{% extends "base-static.html" %}
{% load static %}

{% block css %}
  <link href="{% static 'css/form-validation.css' %}" rel="stylesheet">

<!--   <link rel="stylesheet" href="{% static 'plugins/select2/select2.min.css' %}">
  <link rel="stylesheet" href="{% static 'js/plugins/layer/skin/layer.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/bootstrap4/css/bootstrap-datetimepicker.min.css' %}"> -->
 <style>
   .headline-trim {
     text-overflow: ellipsis;
     white-space: nowrap;
     overflow: hidden;
   }
 </style>

{% endblock %}
{% block content %}

<!-- Main content -->

<section class="content">
  <br>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">EcoSystem</a></li>
        <li class="breadcrumb-item"><a href="/projects">Projects</a></li>
        <li class="breadcrumb-item active" aria-current="page">Details</li>
      </ol>
    </nav>
    <!-- <hr class="my-2"> -->
  <div id="container" class="row mb-2 align-items-center"> 
    <!-- Wrapper in a Card -->
    <!-- Wrapper in a Card -->
  </div>    
  <!-- <div class="col-md-12 col-lg-12"> Above now id container -->
</section>

<!-- /.content -->

{% endblock %}
<!-- End of Content Block -->

<!-- End of Main Block *** if not extend base-left template then need to add main block-->
{% block javascripts %}
<script src="{% static 'js/form-validation.js' %}"></script>
<script src="{% static 'js/mycardview.js' %}"></script>

<script type="text/javascript">
var all_projects = JSON.parse('{{all_projects| safe }}');
$(function() {              // When the DOM is ready, execute below codes
  //var one_json = all_projects[7];
  // var target = $('#container');
  // target.append("Hello I did it!");
  var one_project = j_Project;
  var content_html = "";
  for(var i=0; i<all_projects.length; i++) {
    content_html += loadOneCard(all_projects[i]);
  };
  $('#container').html(content_html);
});
</script>

{% endblock %}