{% extends "base-static.html" %}
{% load static %}

{% block main %}
    <!-- Main Header -->
    <header class="main-header">

        <!-- Logo -->
        <a href="#" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>PE</b></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>EcoSystem</b></span>
        </a>

    </header>
    <!-- Above: Left side column. contains the logo and sidebar -->
    {% block middle %}

    {% endblock %}

    <!-- Main Footer -->
    <footer class="main-footer text-center">
        <strong>
              Copyright © 2022 Foxconn iDPBG PE
        </strong>
    </footer>

{% endblock %}
