{% extends "base-static.html" %}
{% load static %}

<!-- Below main page main content, without sidebar and header -->
{% block content %}
  <section class="content">
    <div class="fw-semibold h3 pt-4 pb-2 mb-3">Project Management </div>
    <div>
      <table class="h7 table table-hover table-striped">
        <th>ID</th>
        <th>專案名稱</th>
        <th>專案類別</th>
        <th>專案描述</th>
        <th>開始日期</th>
        <th>預計結束日期</th>
        <th>廠區</th>
        <th>部門</th>
        <th>創建人</th>
        <tbody>
          {% for unit in all_ecoprojects %}
          <tr class="prj-view-row">
            <td>{{ unit.prj_id }}</td>
            <td>{{ unit.prj_name }} </td>
            <td class="category_choices">{{ unit.category }} </td>
            <td>{{ unit.description }} </td>
            <td>{{ unit.start_date|date:"Y/m/d" }} </td>
            <td>{{ unit.end_date|date:"Y/m/d" }} </td>
            <td class="site_choices">{{ unit.dpbg_site }} </td>
            <td class="department_choices">{{ unit.pe_department }} </td>
            <td>{{ unit.prj_creator }} </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>  

  </section>
{% endblock %}
<!-- Above main page main content, without sidebar and header -->

{% block javascripts %}
<script type="text/javascript">
  // var position = document.getElementById('id_category');
  var position = document.getElementsByClassName('category_choices');
  if (position.length > 0) {
    for(var i=0; i<position.length; i++) {
      // console.log(position[i].textContent);
      position[i].textContent = j_category_choices[Number(position[i].textContent)];
    };
  };
  position = document.getElementsByClassName('site_choices');
  if (position.length > 0) {
    for(i=0; i<position.length; i++) {
      position[i].textContent = j_site_choices[Number(position[i].textContent)];
    };
  };
  position = document.getElementsByClassName('department_choices');
  if (position.length > 0) {
    for(i=0; i<position.length; i++) {
      position[i].textContent = j_department_choices[Number(position[i].textContent)];
    };
  };

</script>
<script type="text/javascript">
  var list = document.getElementsByClassName('prj-view-row');
  for(var i=0; i<list.length; i++){
    list[i].index=i;
    list[i].onclick = 
    function () {
      alert(this.index);
    }
  }  
</script> 

{% endblock %}
