{% extends "base-left.html" %}
{% load static %}

{% block css %}
  <link href="{% static 'css/form-validation.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
<!-- Main content -->

  <section class="content">
    <!-- <div class="fs-5 fw-semibold">Project Management </div> -->   
    <form action="/post1/" method="POST" name="form1">
        {% csrf_token %}
        <div> POST1 enter a message: <input type="text" name="prj_name" />
            <input type="submit" value="Send" />
        </div>
        <div> Data we received is: {{ mess }}
        </div>
    </form>
    <br>
  <!-- Bootstrap example checkout start... -->
  <div class="col-md-10 col-lg-10">
    <h4 class="mb-3">Adding New Project ...</h4>
    <form class="needs-validation" novalidate>
      <div class="row g-3">

        <div class="col-12">
          <label for="prjName" class="form-label">Project Name</label>
          <input type="text" class="form-control" id="cPrjName" placeholder="" value="" required>
          <div class="invalid-feedback">
            Valid project name is required.
          </div>
        </div>
        
        <div class="col-sm-3">
          <label for="cPriority" class="form-label">Priority</label>
          <select class="form-select" id="cPriority" required>
            <option value="">Choose...</option>
            <option>Highest</option>
            <option>Important</option>
            <option>Normal</option>
          </select>
          <div class="invalid-feedback">
            Please assign priority.
          </div>
        </div>

        <div class="col-sm-3">
          <label for="cCategory" class="form-label">Category</label>
          <select class="form-select" id="cCategory" required>
            <option value="">Choose...</option>
            <option>年度計畫</option>
            <option>人力精實</option>
            <option>測試自動化</option>
            <option>設備備品</option>
            <option>耗材降低</option>
            <option>包材管控</option>
            <option>Attrition降低</option>
            <option>製程改善</option>
            <option>效率提升</option>
            <option>UPH提升</option>
            <option>品質提升</option>
            <option>自動化提升</option>
            <option>報表E化</option>
            <option>節能減排</option>
            <option>工程機電</option>
            <option>其他</option>
          </select>
          <div class="invalid-feedback">
            Please specify category.
          </div>
        </div>

        <div class="col-12">
          <label for="cDescription" class="form-label">Description</label>
          <textarea class="form-control" id="cDescription" style="height: 80px" placeholder="" value="" required>
          </textarea> 
          <div class="invalid-feedback">
            Please describe the project details.
          </div>
        </div>

        <div class="col-sm-6 col-md-6">
          <label for="cStartDate" class="form-label">Start Date</label>
          <input type="text" class="form-control" id="cStartDate" placeholder="" required>
          <div class="invalid-feedback">
            Please specify project start date.
          </div>
        </div>

        <div class="col-sm-6 col-md-6">
          <label for="cEndDate" class="form-label">Planned Complete Date</label>
          <input type="text" class="form-control" id="cEndDate" placeholder="" required>
          <div class="invalid-feedback">
            Please specify planned complete date.
          </div>
        </div>

        <div class="col-sm-3">
          <label for="cCurrentStage" class="form-label">Current Stage</label>
          <select class="form-select" id="cCurrentStage" required>
            <option value="">Choose...</option>
            <option>立案中</option>
            <option>需求分析</option>
            <option>待排配開發</option>
            <option>開發中</option>
            <option>驗證中</option>
            <option>已上線</option>
            <option>取消</option>
          </select>
          <div class="invalid-feedback">
            Please specify project current stage.
          </div>
        </div>

        <div class="col-sm-3">
          <label for="cSite" class="form-label">FX Site</label>
          <select class="form-select" id="cSite" required>
            <option value="">Choose...</option>
            <option>ALL</option>
            <option>GL</option>
            <option>ZZ1</option>
            <option>ZZ2</option>
            <option>ZZ SUR</option>
            <option>TY</option>
            <option>BZ</option>
            <option>TN</option>
          </select>
          <div class="invalid-feedback">
            Please assign a factory site.
          </div>
        </div>

        <div class="col-sm-3">
          <label for="cDepartment" class="form-label">Department</label>
          <select class="form-select" id="cDepartment" required>
            <option value="">Choose...</option>
            <option>ALL</option>
            <option>SFA</option>
            <option>IE</option>
            <option>AAE</option>
            <option>AE</option>
            <option>ME</option>
            <option>AP</option>
            <option>RF</option>
            <option>Asset</option>
            <option>PDCA</option>
            <option>MEDD</option>
            <option>CSA</option>
            <option>Support</option>
          </select>
          <div class="invalid-feedback">
            Please assign a PE department.
          </div>
        </div>

        <hr class="my-4">
      
   <!--      <button class="w-100 btn btn-primary btn-lg" type="submit">Continue to checkout</button> -->
        <button type="button" id="btnCancel" class="col-md-4 btn btn-primary margin-right ">Cancel</button>
        <button type="button" id="btnSave" class="col-md-4 btn btn-secondary margin-right ">Save</button>

    </form>
    <hr class="my-4">
  </div>    

  </section>


<!-- /.content -->
{% endblock %}

{% block javascripts %}
<script src="% static 'js/form-validation.js' %}"></script>
{% endblock %}