{% extends "base-left.html" %}
{% load static %}

{% block content %}

    <!-- Main content -->

  <section class="content">
    <div class="fs-5 fw-semibold">Project Management </div>
    
    <form action="/post/" method="POST" name="form1">
        {% csrf_token %}
        <div> Please enter a message: <input type="text" name="prj_name" />
            <input type="submit" value="Send" />
        </div>
    
        <div> Data we received is: {{ mess }}</div>
    </form>

  </section>


    <!-- /.content -->

{% endblock %}

{% block javascripts %}

{% endblock %}