{% extends "base-left.html" %}
{% load static %}

{% block css %}
  <link href="{% static 'css/form-validation.css' %}" rel="stylesheet">

<!--   <link rel="stylesheet" href="{% static 'plugins/select2/select2.min.css' %}">
  <link rel="stylesheet" href="{% static 'js/plugins/layer/skin/layer.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/bootstrap4/css/bootstrap-datetimepicker.min.css' %}"> -->

{% endblock %}

{% block content %}
<!-- Main content -->

  <section class="content">
    <!-- <div class="fs-5 fw-semibold">Project Management </div> -->   

  <!-- Project create form start here... -->
  <div class="col-md-10 col-lg-10">
    <h5 class="fw-semibold h3 pt-4 pb-2 mb-3">Add a new project:</h5>
    <form action="/post1/" method="POST" name="prjCreateForm" class="needs-validation" novalidate>
      {% csrf_token %}

      <div class="row g-3">

        <div class="col-12">
          <label for="cPrjName" class="form-label">Project Name</label>
          <input type="text" class="form-control" name="cPrjName" id="id_cPrjName" placeholder="" value="" required>
          <div class="invalid-feedback">
            Valid project name is required.
          </div>
        </div>
        
        <div class="col-sm-3">
          <label for="cPriority" class="form-label">Priority</label>
          <select class="form-select" name="cPriority" id="id_cPriority" required>
            <option value="">Choose...</option>
            {% for priority in priority_all %}
            <option value="{{ priority.key }}">{{ priority.value }}</option>
            {% endfor %}
          </select>
          <div class="invalid-feedback">
            Please assign priority.
          </div>
        </div>

        <div class="col-sm-3">
          <label for="cCategory" class="form-label">Category</label>
          <select class="form-select" name="cCategory" id="id_cCategory" required>
            <option value="">Choose...</option>
            {% for category in category_all %}
            <option value="{{ category.key }}">{{ category.value }}</option>
            {% endfor %}
          </select>
          <div class="invalid-feedback">
            Please specify category.
          </div>
        </div>

        <div class="col-12">
          <label for="cDescription" class="form-label">Description</label>
          <input type="text" class="form-control" name="cDescription" id="cDescription" placeholder="" value="" required>
          <div class="invalid-feedback">
            Please describe the project details.
          </div>
        </div>
 
        <div class="col-sm-6 col-md-4">
          <label for="cCreateDate" class="form-label">Create Date</label>
          <input type="date" class="form-control" name="cCreateDate" id="id_cCreateDate" placeholder="" required>
          <div class="invalid-feedback">
            Please specify project create date.
          </div>
        </div>

        <div class="col-sm-6 col-md-4">
          <label for="cStartDate" class="form-label">Start Date</label>
          <input type="date" class="form-control" name="cStartDate" id="cStartDate" placeholder="" required>
          <div class="invalid-feedback">
            Please specify project start date.
          </div>
        </div>

        <div class="col-sm-6 col-md-4">
          <label for="cEndDate" class="form-label">To Complete By</label>
          <input type="date" class="form-control" name="cEndDate" id="cEndDate" placeholder="" required>
          <div class="invalid-feedback">
            Please specify planned complete date.
          </div>
        </div>
        <hr class="my-4">

        <div class="col-sm-3">
          <label for="cStage" class="form-label">Current Stage</label>
          <select class="form-select" name="cStage" id="id_cStage" required>
            <option value="">Choose...</option>
            {% for stage in stage_all %}
            <option value="{{ stage.key }}">{{ stage.value }}</option>
            {% endfor %}
          </select>
          <div class="invalid-feedback">
            Please specify project current stage.
          </div>
        </div>

        <div class="col-sm-3">
          <label for="cSite" class="form-label">FX Site</label>
          <select class="form-select" name="cSite" id="cSite" required>
            <option value="">Choose...</option>
            {% for site in site_all %}
            <option value="{{ site.key }}">{{ site.value }}</option>
            {% endfor %}
          </select>
          <div class="invalid-feedback">
            Please assign a factory site.
          </div>
        </div>

        <div class="col-sm-3">
          <label for="cDepartment" class="form-label">Department</label>
          <select class="form-select" name="cDepartment" id="cDepartment" required>
            <option value="">Choose...</option>
            {% for department in department_all %}
            <option value="{{ department.key }}">{{ department.value }}</option>
            {% endfor %}
          </select>
          <div class="invalid-feedback">
            Please assign a PE department.
          </div>
        </div>
        <hr class="my-4">

        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
          <button id="btnSave" style="width: 90px;" class="px-4 me-sm-3 btn btn-primary" type="submit">Save</button>
          <button id="btnCancel" style="width: 90px;" class="px-4 me-sm-3 btn btn-outline-secondary" type="reset">Reset</button> 
          <!-- <button class="w-100 btn btn-primary btn-lg" type="submit">Checkout</button> -->
        </div>

      </div>
    </form>
        
    <hr class="my-4">
  </div>    

</section>


<!-- /.content -->
{% endblock %}

{% block javascripts %}
<script src="{% static 'js/form-validation.js' %}"></script>


{% endblock %}