{% extends "base-static.html" %}
{% load static %}

<!-- Below main page main content, without sidebar and header -->
{% block content %}
  <section class="content">

    <!-- <div class="row fs-5 fw-semibold pt-3 pb-3 justify-content-between">  -->
  <div class="row justify-content-start py-4">  
      <div class="col-10 fs-4 fw-semibold">
        All Projects
      </div>
      <div class="col-1 ps-1"> 
        <a href="/createproject" class="btn btn-secondary btn-sm pull-right" style="width: 100px;">
          新增專案</a>
      </div>
      <div class="col-1 ps-1">
        <a href="/cardprojectview" class="btn btn-secondary btn-sm pull-right" style="width: 100px;">
          Card View</a>
      </div>          
  </div>

    <div>
      <table class="h7 table table-hover table-striped table100">
        <th class="bg-blue text-white">ID</th>
        <th class="bg-blue text-white">專案名稱</th>
        <th class="bg-blue text-white">專案類別</th>
        <th class="bg-blue text-white">專案描述</th>
        <th class="bg-blue text-white">開始日期</th>
        <th class="bg-blue text-white">預計結束日期</th>
        <th class="bg-blue text-white">廠區</th>
        <th class="bg-blue text-white">部門</th>
        <th class="bg-blue text-white">創建人</th>
        <th class="bg-blue text-white">更新數</th>
        <tbody>
          {% for unit in all_ecoprojects %}
          <tr class="prj-view-row">
            <td class="prj-id">{{ unit.prj_id }}</td>
            <td>{{ unit.prj_name }} </td>
            <td class="category_choices">{{ unit.category }} </td>
            <td>{{ unit.description }} </td>
            <td>{{ unit.start_date|date:"Y/m/d" }} </td>
            <td>{{ unit.end_date|date:"Y/m/d" }} </td>
            <td class="site_choices">{{ unit.dpbg_site }} </td>
            <td class="department_choices">{{ unit.pe_department }} </td>
            <!-- <td>{{ unit.prj_creator }} </td> -->
            <td>
              <button id="editTask" class="btn btn-danger btn-sm">Add Task</button>
            </td>
            <td> 
              <button type="button" class="btn btn-success btn-sm">
                Updates <span class="badge bg-secondary">{{ unit.updates }}</span>
              </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div> 

  </section>
{% endblock %}
<!-- Above main page main content, without sidebar and header -->

{% block javascripts %}
<script type="text/javascript">
  // var position = document.getElementById('id_category');
  var position = document.getElementsByClassName('category_choices');
  if (position.length > 0) {
    for(var i=0; i<position.length; i++) {
      // console.log(position[i].textContent);
      position[i].textContent = j_category_choices[Number(position[i].textContent)];
    };
  };
  position = document.getElementsByClassName('site_choices');
  if (position.length > 0) {
    for(i=0; i<position.length; i++) {
      position[i].textContent = j_site_choices[Number(position[i].textContent)];
    };
  };
  position = document.getElementsByClassName('department_choices');
  if (position.length > 0) {
    for(i=0; i<position.length; i++) {
      position[i].textContent = j_department_choices[Number(position[i].textContent)];
    };
  };
</script>
<script type="text/javascript">
  var list = document.getElementsByClassName('prj-view-row');
  for(var i=0; i<list.length; i++){
    list[i].index=i;
    list[i].onclick = 
    function () {
     // alert(this.index);
      var href = 'http://127.0.0.1:8000/singleprojecttabs/';
      href += this.index;
      console.log(href);
      window.open(href,'_self');
    }
  }  
</script>
{% endblock %}