
    <!-- Wrapper in a Card -->
    <div id="pjm-single-card" class="row align-items-md-stretch">
      <div class="col-md-10 col-lg-3">
        <div class="h-100 p-3 bg-light border" style="border-radius: 10px;">
            
            <div class="prj-name-title headline-trim fw-bold fs-4 mb-3"></div>
            <div class="fs-6"></div> 
            <hr>
            <ul style="padding-left:0;" type="none">
              <li>Priority: <span class="priority_choices"></span> </li>
              <li>Category: <span class="category_choices"></span></li>
              <li>Status: <span class="status_choices"></span></li>
              <li> Stage: <span class="stage_choices"></span></li>
              <li>Site: <span class="site_choices"></span></li>
              <li> Dep't: <span class="department_choices"></span></li>
              <li>Start Date: <span></span></li>
              <li>Due Date: <span></span></li>
              <li>Close: <span></span></li>
              <li>Creator: <span></span></li>
            </ul>
            <hr>
            <ul id="action-item">
              <li><a href="tasks/">See sub-tasks</a> </li>
              <li><a href="modify/">Modify project</a> </li>
              <li><a href="add-updates/">Add updates </a> </li> 
            </ul>
        </div>
      </div>
    </div>
    <!-- Wrapper in a Card -->
